In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

In [19]:
car_data = pd.read_csv(r"C:\Users\dasha\Downloads\archive (3).zip")

In [20]:
# Display the first few rows of the dataset to understand its structure
car_data.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Check for missing values
missing_values = car_data.isnull().sum()

# Dropping the Car_Name as it may not contribute to prediction
car_data = car_data.drop(['Car_Name'], axis=1)

# Create a new column for car age
car_data['Car_Age'] = 2024 - car_data['Year']

# Drop the 'Year' column as we now have 'Car_Age'
car_data = car_data.drop(['Year'], axis=1)

# Prepare features and target
X = car_data.drop(['Selling_Price'], axis=1)  # Features
y = car_data['Selling_Price']  # Target variable

# One-hot encode the categorical features (Fuel_Type, Selling_type, Transmission)
categorical_features = ['Fuel_Type', 'Selling_type', 'Transmission']
onehotencoder = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), categorical_features)], remainder='passthrough')

# Apply one-hot encoding
X_encoded = onehotencoder.fit_transform(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape

((240, 11), (61, 11))

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Train a Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model's performance
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred)
mae, rmse, r2

(1.2163740193331725, 1.8658375680944563, 0.84887078391928)